
.mat-input-infix {
  padding: 1px !important;
  border-top: 1px !important;
}
.searchField {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}
.fixedHeight {
  font-family: 'Roboto', sans-serif;
  height: 460px;
  overflow-y: auto;
  display: normal;
}

@media screen and (max-width: 992px) {
  .fixedHeight { height: 300px; }
}

.scrlTable {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  color: #424242;
  padding-left: 5px;
}

.scrlTable:hover {
  cursor: pointer;
}

.divScroll {
    overflow-y: scroll;
    overflow-x:hidden;
}

.scrlTableHeader {
    padding: 10px 5px !important;
    background-color: #505050;
    font-weight: 300;
    color: white ;
    border-radius: 0;
    border-top: solid thin gray;
    border-bottom: solid thin gray;
}


.fullScreen {
    /* The image used */
    background-image: url("../../../assets/images/glenn-carstens-peters-203007_50.jpg");

    /* Full height */
    min-height: 100%;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning*/
    position: absolute;
    top: 3;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 992px) {
  .fullScreen { position: fixed; }
}
