
<div class="card large" *ngIf="true" style="width: 400px; height: 440px;">
  <div class="card-content">
    <span class="card-title activator col s12"><i class="material-icons left">fingerprint</i>{{ language?.labels._formPwd }}</span>
    <form #userForm="ngForm" (ngSubmit)="onSubmit($event)" style="padding: 15px;" class="col s12" id="userForm">

        <md-form-field style="margin-bottom: 16px; width: 100%;">
          <input mdInput placeholder="{{language?.labels._name}}" disabled [(ngModel)]="user.name" id="name" name="name" #name="ngModel">
        </md-form-field>

        <md-form-field>
          <input type="password" mdInput placeholder="{{language?.labels._password}}" required [(ngModel)]="user.password" id="password" name="password" #login="ngModel">
        </md-form-field>

        <md-form-field>
          <input type="password" mdInput placeholder="{{language?.labels._pwdConfirm}}" required
              [errorStateMatcher]="confirmPassword"
              (keyup)="pwdConfirm=$event.target.value" id="pwdConfirm" name="pwdConfirm">
              <md-hint  style="color: red;" *ngIf="!confirmPassword()" align="start"><i>{{language?.messages._pwdNoMatch}}</i> </md-hint>
        </md-form-field>

        <md-form-field style="width: 100%">
          <input mdInput placeholder="{{language?.labels._pwdTip}}" [(ngModel)]="user.passwordTip" id="passwordTip" name="passwordTip" #altEmail="ngModel">
          <md-hint align="start"><i>{{language?.hints._pwTip_hint}}</i> </md-hint>
        </md-form-field>

        <div class="card-action">
          <button type="submit" id="btn1" class="btn green" [disabled]="!userForm.form.valid || !confirmPassword()"><i class="material-icons">done</i></button>
          <button type="button" class="btn grey darken-2 right" (click)="closeForm();"><i class="material-icons">clear</i></button>
        </div>

    </form>
    </div>
</div>
